
html, body{ height: 100%;}

.main-section {
    height: 100%;
    margin: 0;
}

.left-menu {
    background: linear-gradient(to bottom, #ff6500, #d23c14);
    color: #fff;
    padding: 0;
    border-right: 1px solid #a78585;
    position: fixed;
    height: 100%;
}

.menu-bottom-option {
    list-style: none;
    padding: 0rem .75rem;
    color: #ffffffa6;
    font-size: 11pt;
}

.menu-bottom-option li {
    padding: .25rem 0;
}

.menu-bottom-option li:hover{
    cursor: pointer;
    color: #fff;
}

.sign-out:hover {
    color: #fff;
}

.menu-title {
    background: #212529;
    color: #bdbdbd;
    font-weight: 600;
    font-size: 10pt;
    padding: .1rem .4rem;
}

.menu-overflow {
    overflow-y: auto;
    height: 80%;
    overflow-x: hidden;
}

#tabMenuList {
    list-style: none;
    padding: 0;
    height: 8rem;
    width: 130%;
    box-shadow: inset -16px 0px 7px black;
}

.link-folders {
    list-style: none;
    padding: 0 0 0 2rem;
    font-size: 10pt;
}

.facebook-pixel {
    margin: .75rem 0;
}

.folder-counter{
    float: right;
    background: #fc8d56;
    padding: 0 .4rem;
    color: rgba(26, 26, 26, 0.9);
    font-size: 8pt;
    position: relative;
    top: .1rem;  
    font-weight: bold;
}

.link-counter{
    float: right;
    background: #242c33;
    padding: 0 .4rem;
    color: rgb(255, 255, 255);
    font-size: 8pt;
    position: relative;
    top: .1rem;
    right: .5rem;
}

.link-folders li {
    padding: .15rem 0;
}

.folders {
    cursor: pointer;
}

.folders:hover{
    color: #000;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #313131; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a9a9a9; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.menu-item, .no-tabs {
    padding: .45rem .5rem;
    font-size: 10pt;
    border-bottom: 1px solid #925229;
    cursor: pointer;
}

.pro-version {
    background: #1c74cc;
    color: #fff;
    border-radius: 3px;
    padding: .25rem 1rem;
}

.add-tabs{
    border: 1px solid #e05d08;
    border-radius: 3px;
    margin: .5rem;
    text-align: center;
    padding: .4rem;
    color: #fbe7db;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 10pt;
    background: linear-gradient(45deg, #d49062, #ff8c55);
}

.add-tabs:hover {
    background: #fff;
    color: #61858a;
}

.menu-item:hover{
    background: #bb520e
}


.bg-dark { background: #2a343a;     box-shadow: 3px 1px 3px dimgrey;}

.top-spacing { margin-top: 1rem;}

.no-border { border:none;}

.modal-content {
    border-radius: 0px;
    font-size: 10pt;
}

.modal-body input {
    font-size: 10pt;
}

.modal-body button {
    margin-top: .5rem;
    font-size: 10pt;
}

.tab-delete {
    font-size: 10pt;
    padding: .2rem .75rem .2rem;
    float: right;
}

.tab-warning {
    font-size: 10pt;
    padding: .2rem .75rem .2rem;
    float: right;
    color: #fff;
    margin-left: .25rem;
}
.tab-header{
    width: 100%;
    border-bottom: 1px solid #cbcbcb;
    padding: 1rem 1rem .5rem 1rem;
    font-weight: bold;
    font-size: 15pt;
    color: #3e5b61;
}

input[name='default-fb-pixel'] {
    margin: .5rem 0;
}
.add-button{
    background: #464646;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    padding: 0 0 1rem 0;
    color: #fff;
    font-weight: bold;
    font-size: 28pt;
    text-align: center;
    position: fixed;
    bottom: 2rem;
    right: 7rem;
    box-shadow: 1px 2px 6px dimgrey;
    cursor: pointer;
}

.send-button{
    background: #287ce6;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    padding: 1rem .3rem 0rem 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 17pt;
    text-align: center;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    box-shadow: 1px 2px 6px dimgrey;
    cursor: pointer;
}
.tab-link {
    color: #007bff !important;
    margin-left: .5rem;
    font-size: 11pt;
    cursor: pointer;
}
.tab-link:hover{text-decoration: underline !important;}
.add-button:hover { opacity: .8}

input[name='link'] { margin-top: .75rem;}

#groupList { 
    text-align: left;
}

.group-img{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    margin-right: .75rem;
}

.group-btn {
    float: right;
    margin-left: 2rem;
}

#addText{
    float: left;
    position: relative;
    top: 1rem;
    text-decoration: underline;
    color: #007aff;
    font-weight: 600;
    cursor: pointer;
}

#addText:hover {text-decoration: none;}

.launch-group {
    margin: .5rem;
    border: 1px solid #c6c6c6;
    box-shadow: 3px 3px 3px #e7e5e5;
    background-color: white;
    font-size: 10pt;
    display: inline-block;
    width: 21rem;
}

.launch-group img { width: 3rem; margin-right: 1rem; }

.launch-group-img {float: left; padding: 0; }
.launch-group-img span {
    font-weight: bold;
    color: #468794;
}
.launch-group-text { padding: 0; width: 100%;}

.launch-group-text textarea,
.launch-group-text input { 
    border-radius: 0px;
    font-size: 9pt;
    border: none;
    outline: none !important;
    border-top: 1px solid #cdcdcd;
    resize: none;
    height: 4rem;
}
.close-launch-group{
    cursor: pointer;
    float: right;
    margin: 0rem .4rem;
    font-weight: bold;
    color: #e2e0e0;
}

.close-launch-group:hover{
    color: #c7c3c3
}

.main { 
    margin-top:1rem;
    padding: 1rem;
}

.load {
    color: #3e5b61 !important;
    font-weight: bold;
    font-size: 13pt;
}

.group-list{
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #d1d1d1;
    margin: .5rem 0;
    padding: .5rem 0;
    font-size: 14pt;
    color: #324447;
}

.change-status{
    float: right;
    font-size: 9pt;
    font-weight: 500;
    position: relative;
    top: .2rem;
    margin-right: 1rem;
    color: #898686;
}

.refresh{
    float: right;
    font-size: 10pt;
    color: #007aff;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    top: .5rem;
}
.refresh:hover{
    text-decoration: underline;
}

.no-group{
    font-size: 23pt;
    margin: 5rem auto;
    user-select: none;
    color: #688c9138;
}

.active{
    color:#2d2d2d;
}

.logo{
    width: 100%
}

.group-tabs { display: none; }
.link-shortener { display: block; }

.header{
    background: #ffff;
    box-shadow: 2px 0px 3px #bdbcbc;
}

.gray{ background: #f8f9ff; }
.orange { color: #FF6600; }
.padding-1 { padding: 1rem; }

.window{
    background: #fff;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #aba9a9;
    padding: 0px;
    min-height: 20rem;
}

.window .subheader{
    border-bottom: 1px solid #dedddd;
    padding: .75rem;
}

.links {
    width: 100%;
    font-size: 10pt;
    text-align: center;
}

.links td { 
    padding: .5rem;
    border-bottom: 10px solid #f8f9ff;
    padding: 1rem;
}
.links tbody tr:nth-child(odd) { background:#f9f9f9; }

.footer {
    margin: 2rem 0;
    font-size: 10pt;
}

.shorten-button{
    background: linear-gradient(to top right, #ff5263 0%, #ff7381 35%, #fcbd01 100%);
    float: right; 
    font-size: 10pt;
    border: none;
    border-radius: 4px; 
    padding: .4rem 1rem;
    color: #fff;
}

.account-email{
    float: right;
    position: relative;
    top: .3rem;
    right: 1rem;
    font-size: 11pt;
    color: #989898;
}

.verylonglink{
    width: 34rem;
    float: right;
}

.toast {
    opacity: 1;
    position: fixed;
    right: 1rem;
    color: #fff;
    bottom: 1rem;
    display: none;
    cursor: pointer;
}

.toast:hover {
    opacity: .5;
}

.toast-error {
    border-color: #945454;
    background: #d24747;
}

.toast-succes {
    border-color: #549471;
    background: #179644;
}

.short-link {
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

.link-header{
    font-size: 13pt;
    font-weight: bold;
}

.link-long, input[name='target-link']{
    color: #0a5167;
    font-weight: 600;
    margin: .5rem 0;
    text-align: center;
    background: #d5f5ff;
    padding: .25rem;
    border-radius: 2px;
    border: 1px solid #9ecad8;
    font-size: 9pt;
}

.link-custom {
    padding: .5rem;
    border: 1px solid #cac6c6;
    border-radius: 2px;
    margin-bottom: .75rem;
}

.form-header {
    margin-bottom: .35rem;
}

.link-recipient input{
    margin-bottom: .5rem
}

.link-folder {
    margin-top: .75rem;
    margin-bottom: .75rem;
}
.link-folder .select{
    font-size: 9pt !important;
    width: 50%;
}

.link-folder .input {
    width: 50%;
    font-size: 9pt;
    display: inline-block
}

.cancel-folder {
    color: #bbacac;
    cursor: pointer;
    display: inline-block;
    margin-left: .5rem;
    font-size: 9pt;
}

.cancel-folder:hover {
    text-decoration: underline
}

.link-status {
    margin-top: .2rem;
    text-align: right;
    color: red;
}

.target-status {
    margin-top: .2rem;
    margin-bottom: .2rem;
    text-align: right;
    color: red;
}

.link-loader{
    width: 1rem;
    height: 1rem;
    position: relative;
    left: .5rem;
    top: .4rem;
    display: none;
}

.folder{
    background: black;
    padding: .1rem .75rem;
    color: #fff;
    border-radius: 4px;
    font-size: 8pt;
}

#linkList tr{
    background: #fff;
    margin-bottom: 1rem;
}

.copy {
    opacity: .5;
    cursor: pointer;
}

.copy:hover {
    opacity: 1;;
}

#chartContainer{
    margin:2rem 0;
}

.settings {
    cursor: pointer;
}

.delete-link{
    float: right;
    position: relative;
    bottom: -1rem;
    font-size: 14pt;
    color: #f36565;
    display:none;
    cursor: pointer;
}

.delete-link:hover{
    opacity: .8
}

.update-notification {
    
}

.summary-report {
    padding: .5rem .75rem;
    border: 1px solid #a7a7a7;
    background: #fdfbf9;
    border-radius: 3px;
    margin: .75rem 0;
}

.summary-report div {
    margin: .5rem .75rem;
    font-weight: 700;
    color: #565656;
}

.summary-report input {
    position: relative;
    top: .15rem;
}

.update-notification { display: none; }