
<style>
    #validateLicense{
        background: #1566bd;
        border: 2px solid #1e75d2;
        color: #fff;
        font-size: 10pt;
        border-radius: 3px;
        padding: .2rem 1rem;
    }

    input[name='license']{
        text-align: center;
        background: none;
        border: 2px solid #d0d0d0;
        border-radius: 3px;
        color: #3a3a3a;
    }

    input[name='license']::placeholder {
        color: #8e8e8e;
    }

    .purchase-label{
        font-size: 50pt;
        margin: 3rem 0;
        color: #e5e6e6;
    }

    .validate-status{

    }
</style>


<div class="row">
    <div class="col-12 text-center validate-status">
        
    </div>
</div>
<div class="row text-center">
        <div class="col-12 hide-validation purchase-label">Purchase Now!</div>
    </div>
    
<div class="row text-center">
    <div class="col-12 hide-validation validate-input">
        <input type="text" name="license" placeholder="Enter product key">
        <button id="validateLicense">Validate</button>
    </div>
</div>