<div class="row">
    <div class="col-12 header padding-1">
        <span class="pro-version">Pro Version</span>
        <span class="account-email">neeeilpatricklacson@gmail.com</span>
    </div>
</div>


<div class="row">
        <div class="col-12">
                
        </div>
    <div class="col-12" style="margin-top: 2rem; padding: 0 3rem;">
        <div class="input-group mb-3 verylonglink">
                <input type="text" class="form-control" placeholder="verylonglink.com" name="longlink">
                <div class="input-group-append">
                <button class="input-group-text shorten-button" id="createShortLink">Create</button>
                </div>
        </div>
        
        <div class="orange" style="font-weight: 600;">Shortened Links</div>
        
        <div id="chartContainer" style="height: 200px; width: 100%;"></div> 
        <table class="links">
            <thead>
                <tr>
                    <td class="text-center" style="width: 7rem;">Date</td>
                    <td class="text-left">Link</td>
                    <td class="text-center">Folder</td>
                    <td class="text-center">Total Clicks</td>
                    <td class="text-center"></td>
                </tr>
            </thead>
            <tbody id="linkList">
            </tbody>
        </table>
    </div>
</div>
    

<div class="row">
    <!-- <div class="col-3 window">
            <div class="subheader">Country</div>
    </div> -->
</div>
    



<div class="row footer">
    <div class="col-12 text-center">Copyright © 2019 David Hannah</div>
</div>

<!-- LINK SHORTENER FORM -->
<button type="button" class="btn btn-primary" id="linkForm" style="display: none;" data-toggle="modal" data-target="#linkShortener"></button>
<div class="modal fade" id="linkShortener" data-backdrop='static' tabindex="-1" role="dialog" aria-labelledby="linkShortener" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 70%;margin: 0 auto;">
            <div class="modal-body">
                <div class="form-block">
                    <input type="text" class="form-control" name="target-link">
                    <div class="link-long">http://youtube.com</div>
                    <div class="target-status" style="display: none;"></div>
                    
                    <div class="link-custom">
                        <span>masterl.ink/</span>
                        <input type="text" class="short-link" pattern="[a-zA-Z0-9.+,$-]+">
                    </div>
                    <div class="link-status" style="display: none;"></div>
                    <input type="hidden" name="original-key">
                    <input type="hidden" name="original-link">
                    
                    <div class="link-folder">
                        <div class="form-header">Folder:</div>
                        <select class="form-control select" id="selectFolder">
                            <option value=""></option>
                            <option disabled>No folders exist</option>
                            <option value="add-new">Add New Folder</option>
                        </select>
                        <div  id="inputFolder" style="display: none;">
                                <input type="text" class="form-control input" name='folder' placeholder="Folder name"><div class="cancel-folder">Cancel</div>
                        </div>
                    </div>

                    <div class="link-recipient">
                        <div class='form-header'>Campaign End Report:</div>
                        <input type="email" class="form-control" name='email_2' placeholder="Recipient's Email (Optional)">
                        <input type="email" class="form-control" name='email_1' placeholder="Admin's Email (Optional)">
                        <input type="checkbox" name="default-email"> Use account email
                    </div>

                    <div class="facebook-pixel">
                        <div class='form-header'>Tracking:</div>
                        <input type="text" class="form-control" name="fb_pixel" placeholder="Facebook Pixel (Optional)">
                        <input type="checkbox" name="default-fb-pixel"> Use system default
                    </div>

                    <button type="button" class="btn btn-secondary" id="createClose" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="createLink">Create Link</button>
                    <button type="button" class="btn btn-primary" id="updateLink">Update</button>
                    <div class="spinner-border link-loader" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>

                    <i class="fas fa-trash delete-link"></i>
                </div>
                <div class="update-notification">
                    <div class="text-center" style="margin-bottom: 2rem;">You are about to change the target link to <span class='update-target-link' style="font-weight: bold"></span> </div>
                    <div class="text-left summary-report">
                        Summary report will be send to these emails:
                        <span class='update-email'></span>
                        <input type="checkbox" name="reports"> Send reports to the specified emails
                    </div>

                    
                    <div>
                            By clicking "Confirm", you agree to reset the data associated with <span style="font-weight: 600;" class="update-short-link">http://masterl.ink/david</span>
                    </div>
                
                    <button type="button" class="btn btn-secondary" id="createClose" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="confirmChange">Confirm</button>
                </div>

                <div class="delete-confirmation" style="text-align: center; font-weight: 600; font-size:12pt;">
                    <div><span style="    color: #dc3545;font-size: 14pt;">Warning!</span>  <div class="delete-id" style="border: 1px solid #d2d2d2; padding: .3rem;margin: .5rem 0;
                    ">masterl.ink/test</div> 

                    <div style="font-size: 9pt;margin-bottom: 1rem;color: #0a69fb;
                ">Campain reports will be send to assigned recipients</div>
                    <div style="font-size: 10pt;">You are about to remove . All data will be deleted</div>    
                </div>
                    <button type="button" class="btn btn-secondary" id="createClose" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="deleteLink">Delete</button>
                </div>
                
            </div>
        </div>
    </div>
</div>


<style>
    .tracking-code-form{
        position: fixed;
        width: 25rem;
        min-height: 5rem;
        bottom: 1rem;
        background: #ffffff;
        border: 1px solid #939393;
        box-shadow: 0px 0px 7px #999999;
        border-radius: 5px;
        padding: 1rem;
        display: none;
        font-size: 11pt;
    }

    .tracking-code-form input[type='text'] {
        font-size: 10pt;
        width: 15rem;
        float: right;
        position: relative;
        top: -5px;
    }

    .tracking-code-form input:focus{
        border-color: rgba(239, 142, 104, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(239, 165, 104, 0.6);
        outline: 0 none;
    }

    .tracking-close:hover {
        opacity: .5;
        cursor: pointer;
    }

    .tracking-type {
        margin: 2rem 0;
    }

</style>
<div class="tracking-code-form">
        <div style="float: right; font-size: 12pt; padding:.2rem;" class="tracking-close">x</div>
    <div style="font-size: 13pt; font-weight: bold; margin: .5rem 0"><i class="fas fa-code"></i> Tracking Code</div>
    <p>
        Enter your own pixels to track and have the ability to analyze user behaviours and conversions with your customized masterl.ink urls.
    </p>
    <div class="tracking-type">Facebook Pixel: <input type="text" class="form form-control" name='system-facebook-pixel'></div>
    <div style="margin: 2rem 0;">
            <button class="btn btn-primary tracking-save" style="float: right; padding: .4rem 2rem;">Save</button>
    </div>
</div>



<!-- TOAST -->
<div class="toast toast-error" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
        <span class="toast-msg"></span>
        <button type="button" class="ml-2 mb-1 close toast-close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>